@import '../../styles/variables.scss';

.app{
    width: 1400px;
    min-height: 100vh;
    @include flex(column, space-between, center);
}

.app main{
    width: 100%;
    background-color:  $bgc-main;
}


