@import "../../styles/variables.scss";

.block-start{
    width: 75%;
    padding: 0 2.5em;
    margin-top: 7em;
    @include flex(column, flex-start, flex-start);
    &-titles{
        width: 100%;
        @include flex(row, space-between, center);
        .block-title{
            font-size: 3em;
            font-family: "txt-bold";
        }
        .what-are-books{
            font-size: 3em;
            font-family: "txt-usual";
        }
    }
}
