@import "../../styles/variables.scss";

.navbar{
   @include flex(row, space-between, center);
   gap: 4em;
   font-family: "txt-usual";
}; 
.navbar-items{
   @include flex(row, space-between, center);
   gap: 2em;
}; 