@import "../../styles/variables.scss";

.navbar-item{
    font-size: 1.5em;
    color: $bgc-main;
}
.navbar-item a.active{
    color: $clr-main-title;
}
.navbar-item a:hover{
    color: $clr-active;
}